<div class="container">
  <div class="row pt-3">
    <div class="col">
      <kendo-grid [data]="gridData">
        <kendo-toolbar>
          <kendo-toolbar-button text="Add Folder"></kendo-toolbar-button>
          <kendo-toolbar-button text="Add File"></kendo-toolbar-button>
          <button type="button" class="btn btn-primary">
            Notifications <span class="badge text-bg-secondary">4</span>
          </button>
          <kendo-toolbar-spacer></kendo-toolbar-spacer>
        </kendo-toolbar>
        <kendo-grid-column field="ObjName" title="Name">
          <ng-template kendoGridCellTemplate let-dataItem>
            <a [href]="dataItem.Link">{{ dataItem.ObjName }}</a>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="LastModifiedDate" title="ModifiedDate">
        </kendo-grid-column>
      </kendo-grid>

      <button kendoButton (click)="getSysObjects()">Load Data</button>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col">
      <button type="button" class="btn btn-primary">
        Notifications <span class="badge text-bg-secondary">4</span>
      </button>
    </div>
  </div>
</div>
